/**********************/
/******  All     ******/
/**********************/
* {
  box-sizing: border-box;
}

body {
  font-size: small;
  margin: 0;
  background: #f7f7f9;
}

.backdrop {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

@font-face {
  font-family: "Raleway-Thin";
  src: url("..//fonts/Raleway-Thin.ttf");
}

/**********************/
/******  Header  ******/
/**********************/
.main-header {
  font: inherit;
  width: 100%;
  background: #f6a665;
  /* background: #FCFCFD; */
  padding: 10px 5px;
  color: #556db1;
  position: fixed;
  z-index: 1;
}

.main-header__logo {
  color: #556db1;
  text-decoration: none;
  font-size: 22px;
}

.main-header > div {
  display: inline-block;
  vertical-align: middle;
}

.main-nav {
  width: calc(100% - 70px);
  padding: 0 50px;
  text-align: left;
  display: inline-block;
  vertical-align: middle;
}

.main-nav__item {
  display: inline-block;
  margin: 0 10px;
  direction: ltr;
}

.main-nav__item a {
  text-decoration: none;
  color: #556db1;
  font-weight: bold;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: #ffffff;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item--account a:hover,
.main-nav__item--account a:active {
  color: #bbdefb;
}

.main-nav__link-right {
  display: inline-block;
  margin: 15px;
  direction: ltr;
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 20px;
  padding-left: 20px;
}

/**********************/
/******  Footer  ******/
/**********************/
.main-footer {
  background: #b8b8b9;
  padding: 32px;
  height: 200px;
}

.main-footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-footer__link {
  display: inline-block;
  margin: 0 16px;
}

.main-footer__link a {
  color: #f5f5f5;
  text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color: #e0e0e0;
}

.main-footer__address {
  height: 70px;
  background-color: #e5e5e5;
  padding-top: 18px;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
  position: relative;
}
