main {
    padding-top: 2rem;
}

.testimonial {
    font-size: 1rem;
    margin: 3rem 0;
    padding: 20px;
}

.testimonial:first-of-type {
    margin-top: 3px;
}

.testimonial_info{
    text-align: left;
    padding: 5px; 
    width: 12%;
}

#cusomer-2.testimonial{ 
    
}

.testimonial_name{
    margin:3px;
    color:#1565c0 ;
    font-size: 12px;
    vertical-align: middle;
}

.testimonial__title{
    margin: 0;
    font-size: 12px;
    color: #757575;
}

.testimonial__text{
    margin: 3px;
    color:#212121;
}

.testimonial__image-container{
    width: 50%;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
}

.customer-image{
    width: 12%;
    height: 150px; 
    background: #e2e2e9;
    margin: 50px;
    position: absolute;
    right: 0;
    vertical-align: top;
}